*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url(bg3Img.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 70%;
  background-color: rgba(161, 163, 163, 0.515);
  border-radius: 25px;
  backdrop-filter: blur(1px);


}

/* .oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.loginDetails{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password{
  font-size: 15px;
  width: 50%;
  display: flex;
  justify-content: space-between;


}
h1{
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
input[type="text"], input[type="password"]{
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
input[type="checkbox"]{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
button{
  cursor: pointer;
  padding: 20px 40px ;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background: linear-gradient(25deg, rgb(215, 215, 110), rgb(113, 113, 227));
}
p{
  cursor: pointer;
  text-decoration: underline;
}